body {
  background: #F1FCFF;
  margin: 0;
  font-family: 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 754px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-page{
  padding-left: 15%;
  padding-top: 5.4%;
}
